@import "tailwindcss";

* {
  font-family: "Roboto", sans-serif;
}
body {
  background: black;

  background-repeat: no-repeat; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
